                         /*-------Global_config-------*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0px;
    padding:0px;
    border:0px;
}

.font_number{
    font-family: 'Raleway', sans-serif;
}

.font_text{ 
    font-family: 'Quicksand', sans-serif;    
}

.bottom_tip_one{
    width: 200px;
    height: 50px;
    border-radius: 100px;
    transition: background-color 3s;
} 
.bottom_tip_one:hover{
    background:linear-gradient(
      90deg,
      rgba(255, 0, 229, 0.5),rgba(255, 255, 255, 0.884) 1%,#30007e 30%);
}